.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

  width: 700px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col25 {
  float: left;
  width: 100%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}
.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.form {
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgb(235, 235, 235);
  margin-left: 12px;
  margin-right: 12px;
}
