.h2 {
  color: black;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
